.main-content {
  background: #eee;
}
.title-bar {
  background: #fff;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  border-bottom: 1px solid #aaa;
}
.container {
  display: flex;
}
.left-sidebar {
  margin: 8px 4px 8px 8px;
  background: #fff;
  width: 20%;
}
.left-sidebar > div {
  padding: 8px;
  border-bottom: 1px solid #eee;
}
.sidebar-title {
  font-size: 18px;
}
.area-pin {
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
}
.area-pin input {
  width: 65%;
  outline: none;
  padding: 2px 4px;
  border-radius: 0;
  border: 1px solid #333;
}
.area-pin > button {
  width: 30%;
}
.search-bar button {
  padding: 4px;
  border: 2px solid #0c4da2;
  border-radius: 4px;
  background-color: #0c4da2;
  color: #fff;
  cursor: pointer;
}
.search-bar button:hover {
  background: #063b80;
}
.location > button {
  width: 100%;
}

.shops {
  margin: 8px 8px 8px 4px;
  width: 80%;
  background: #fff;
}
.all-shops > div {
  padding: 8px;
}
.no-shop {
  font-size: 24px;
  text-align: center;
  align-items: center;
}
