.shops-header {
  justify-content: flex-end;
}
.shop-name a {
  pointer-events: none;
}
.no-booking {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  font-size: 24px;
  color: red;
  opacity: 0.5;
}
