* {
  margin: 0;
  padding: 0;
  box-shadow: 0;
}
body {
  font-family: sans-serif;
}
a {
  color: #00a;
}
a:hover {
  color: #00f;
}
button {
  cursor: pointer;
}
.main-content {
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(117, 117, 121, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(117, 117, 121, 0.8);
}
