* {
  margin: 0;
  padding: 0;
  box-shadow: 0;
}
body {
  font-family: sans-serif;
}
a {
  color: #00a;
}
a:hover {
  color: #00f;
}
button {
  cursor: pointer;
}
.navbar {
  z-index: 0;
}
.main-content {
  display: flex;
  flex-direction: column;
}
